<div class="wid">
<o-navbar homeRoute="/start" breakpoint="sm" brandPath="assets/images/orange.png" brandLabel="Back to home page">
     <li o-nav-link route="/Offers">Offers</li>
     <li o-nav-link route="/Requests">Requests</li>
     <li o-nav-link route="/Participants">Participants</li>
     <li ngbDropdown class="nav-item dropdown">
    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Transactions</a>
   <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
   <a class="dropdown-item"  [routerLink]="['/addAsset']">Create Asset</a>
   <a class="dropdown-item" [routerLink]="['/postOffer']">Post Offer</a>
   <a class="dropdown-item" [routerLink]="['/postRequest']">Post Request</a>
  </div>
</li>
  <li o-nav-link route="/Logout">Logout</li>

</o-navbar>
</div>