<app-header></app-header>
<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>Request</th>
              <th>Asset Type</th>
              <th>Quantity</th>
              <th>Unitary Price</th>
              <th>Begin Time Slot</th>
              <th>End Time Slot</th>
              <th>Publication Time</th>
              <th>Expiration Time</th>
              <th>Consumer</th>
              <th> Location</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                        <th>1</th>
                        <th>phone</th>
                        <th>10</th>
                        <th>10</th>
                        <th>2019-03-24 Time :23.55</th>
                        <th>2019-03-24 Time :23.55</th>
                        <th>2019-03-24 Time :23.55</th>
                        <th>2019-03-24 Time :23.55</th>
                        <th>Jaber Manel</th>
                        <th>Tunis</th>
                      </tr>
                      <tr>
                            <th>2</th>
                            <th>phone</th>
                            <th>10</th>
                            <th>10</th>
                            <th>2019-03-24 Time :23.55</th>
                            <th>2019-03-24 Time :23.55</th>
                            <th>2019-03-24 Time :23.55</th>
                            <th>2019-03-24 Time :23.55</th>
                            <th>Bradai Salma</th>
                            <th>Tunis</th>
                          </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

<!--Section: Live preview-->
<app-footer></app-footer>