<app-header></app-header>
<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>Request</th>
              <th>Asset Type</th>
              <th>Quantity</th>
              <th>Unitary Price</th>
              <th>Begin Time Slot</th>
              <th>End Time Slot</th>
              <th>Publication Time</th>
              <th>Expiration Time</th>
              <th>Consumer</th>
              <th> Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of Requests">
              <td>{{ request.id }}</td>
              <td>{{ request.Assettype }}</td>
              <td>{{ request.quantity }}</td>
              <td>{{ request.unitaryPrice }}</td>
              <td>{{ request.Begin_Time_slot }}</td>
              <td>{{ request.End_Time_slot }}</td>
              <td>{{ request.Publication_time }}</td>
              <td>{{ request.Expiration_time }}</td>
              <td>{{ request.Consumer}}</td>
              <td>{{ request.location }}</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

<!--Section: Live preview-->
<app-footer></app-footer>