<app-header></app-header>
<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>Offer</th>
              <th>Quantity</th>
              <th>Unitary Price</th>
              <th>Begin Time Slot</th>
              <th>End Time Slot</th>
              <th>Publication Time</th>
              <th>Expiration Time</th>
              <th>Asset</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                    <th>1</th>
                    <th>Phone</th>
                    <th>1</th>
                    <th>10</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>90vegjloyu</th>
                    <th> tunis</th>
            </tr>
            <tr>
                    <th>1</th>
                    <th>Phone</th>
                    <th>1</th>
                    <th>10</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>90vegjloyu</th>
                    <th> tunis</th>
            </tr>
            <tr>
                    <th>1</th>
                    <th>Phone</th>
                    <th>1</th>
                    <th>10</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>2019-03-23 Time:23.59</th>
                    <th>90vegjloyu</th>
                    <th> tunis</th>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

<!--Section: Live preview-->
<app-footer></app-footer>