<app-header></app-header>
<div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>offerId</th>
              <th>assetType</th>
              <th>Quantity</th>
              <th>Unitary Price</th>
              <th>Begin Time Slot</th>
              <th>End Time Slot</th>
              <th>Publication Time</th>
              <th>Expiration Time</th>
              <th>Asset</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of offers">
              <td>{{ offer.offerId }}</td>
              <td>{{ offer.assetType}}</td>
              <td>{{ offer.quantity }}</td>
              <td>{{ offer.unitaryPrice }}</td>
              <td>{{ offer.Begin_Time_slot }}</td>
              <td>{{ offer.End_Time_slot }}</td>
              <td>{{ offer.Publication_time }}</td>
              <td>{{ offer.Expiration_time }}</td>
              <td>{{ offer.myAsset }}</td>
              <td>{{ offer.Location }}</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

<!--Section: Live preview-->
<app-footer></app-footer>